<template>
    <div>
        <h3>Keyword Extractor: <a href="https://www.npmjs.com/package/keyword-extractor" target="_blank">npm</a></h3>
        <div class="col-md-2 col-sm-2">
            <label>
                Remove Digits:
                <input type="checkbox" class="form-control" v-model="removeDigits">
            </label>
        </div>
        <div class="col-md-2 col-sm-2">
            <label>
                Return Changed Case:
                <input type="checkbox" class="form-control" v-model="returnChangedCase">
            </label>
        </div>
        <div class="col-md-2 col-sm-2">
            <label>
                Remove Dublicates:
                <input type="checkbox" class="form-control" v-model="removeDuplicates">
            </label>
        </div>
        <div class="col-md-2 col-sm-2">
            <label>
                Return changed words:
                <input type="checkbox" class="form-control" v-model="returnChangedWords">
            </label>
        </div>
        <div class="col-md-2 col-sm-2">
            <label for="max-ngrams">Max ngrams: </label><input id="max-ngrams" type="number" class="form-control" v-model="maxNgrams">
        </div>
        <div class="col-md-12 col-sm-12">
            <span class="badge badge-default" v-for="keyword in keywords" :key="keyword.id">{{ keyword }}</span>
        </div>
    </div>
</template>

<script>
    import extractor from 'keyword-extractor';

    export default {
        name: "KeywordExtractorResults",
        props: {
            inputTxt: String,
            language: String
        },
        data() {
            return {
                maxNgrams: 2,
                removeDigits: true,
                returnChangedCase: false,
                removeDuplicates: true,
                returnChangedWords: false,
            }
        },
        computed: {
            keywords() {
                return extractor.extract(this.inputTxt, {
                        language: this.language,
                        remove_digits: this.removeDigits,
                        return_changed_case: this.returnChangedCase,
                        remove_duplicates: this.removeDuplicates,
                        return_max_ngrams: this.maxNgrams,
                        return_chained_words: this.returnChangedWords
                    }
                );
            }
        },
    }
</script>

<style scoped>

</style>
