<template>
    <div>
        <h3 class="">Rake: <a href="https://www.npmjs.com/package/rake-js" target="_blank">npm</a></h3>
        <div class="col-md-12 col-sm-12">
            <span class="badge badge-default" v-for="keyword in keywords" :key="keyword.id">{{ keyword }}</span>
        </div>
    </div>
</template>

<script>
    import rake from 'rake-js';
    export default {
        name: "RakeResults",
        props: {
            inputTxt: String,
            language: String
        },
        computed: {
            keywords() {
                return rake(this.inputTxt, {language: this.language});
            }
        }
    }
</script>

<style scoped>

</style>
