<template>
    <div>
        <h3 class="">Retext:</h3>
        <div class="col-md-12 col-sm-12">
            <span class="badge badge-default" v-for="keyword in keywords" :key="keyword.id">{{ keyword }}</span>
        </div>
    </div>
</template>

<script>
    const retext = require('retext');
    const pos = require('retext-pos');
    const keywords = require('retext-keywords');
    export default {
        name: "RetextResults",
        props: {
            inputTxt: String
        },
        computed: {
            keywords() {
                return retext()
                    .use(pos)
                    .use(keywords)
                    .process(this.inputTxt, this.done);
            }
        },
        methods: {
            done(err, file) {
                if (err) throw err;

                // eslint-disable-next-line no-console
                console.log('Keywords:');
                file.data.keywords.forEach(function (keyword) {
                    // eslint-disable-next-line no-console
                    console.log(toString(keyword.matches[0].node))
                })
            }
        }
    }
</script>

<style scoped>

</style>
