<template>
    <div id="app">
        <img alt="Vue logo" src="./assets/logo.png" style="max-width: 80px">
        <h1>Keyword Extractor Tests</h1>
        <div class="container">
            <div class="row center-block">
                <div class="form-group col-md-12 col-sm-12">
                    <label for="text-input">Add text to get Keywords:</label>
                    <textarea name="text-input" id="text-input" cols="30" rows="10" class="form-control"
                              v-model="textInput"></textarea>
                    <label>
                        Language:
                        <select class="from-control" name="language-select" id="language-select" v-model="language">
                            <option v-for="lg in languages" :key="lg.key">{{lg}}</option>
                        </select>
                    </label>
                </div>
                <hr>
                <div class="row center-block">
                    <rake-results :inputTxt="textInput" :language="language"></rake-results>
                </div>
                <hr>
                <div class="row center-block">
                    <keyword-extractor-results :inputTxt="textInput" :language="language"></keyword-extractor-results>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import RakeResults from "./components/RakeResults.vue";
    import KeywordExtractorResults from "./components/KeywordExtractorResult.vue";
    export default {
        name: 'app',
        components: {KeywordExtractorResults, RakeResults},
        data() {
            return {
                textInput: '',
                language: 'german',
                languages: ['german', 'english', 'dutch', 'spanish']
            }
        }
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
